<h1 class="bg-primary">Welcome to {{ title }}</h1>
<!--<app-task></app-task>
<h1>List of contacts</h1>
<button (click)="readMe()">Click Me</button>
<div *ngIf="showMsg" [ngStyle]="{ color: colorName }">
  Showing this message from IF statement
</div>
<div *ngIf="showMsg; then showThenMsg; else showElseMsg">If statement</div>
<ng-template #showThenMsg>show Then Message</ng-template>
<ng-template #showElseMsg>show Else Message</ng-template>
<h1>ngSwitch</h1>
<div [ngSwitch]="switchValue">
  <div *ngSwitchCase="'one'">Value Passed is : 1</div>
  <div *ngSwitchCase="'two'">Value Passed is : 2</div>
  <div *ngSwitchCase="'three'">Value Passed is : 3</div>
  <div *ngSwitchCase="4">Value Passed is : 4</div>
  <div *ngSwitchDefault>This is the deflaut value</div>
</div>
<h1>ngStyle</h1>
<div [ngStyle]="{ color: colorVal, 'background-color': '#ddd' }">
  Learning Angular is fun
</div>
<h1>NgClass</h1>
<div [ngClass]="[clsName, clsName2]">
  Learning ng Class
</div>
<div [ngClass]="{ one: false, two: true }">
  Learning ng Class with expressions
</div>
<h1>Interpolation</h1>
<div>{{ subTitle }}</div>
<div>{{ epNum }}</div>
<div>{{ user.userId }}{{ user.userName }}</div>
<h1>Property Binding</h1>
<div [ngStyle]="{ color: colorVal }">
  This is the example og property binding
</div>
<p [innerHTML]="subTitle"></p>
<div [ngClass]="clsName">setting class property via property bibding</div>
<a
  [href]="hrefVal"
  [attr.updateLink]="updatedLink"
  [attr.data-link]="updatedLink"
  >Google</a
>
<h1>Learning event binding</h1>
<button (click)="showAlert(10)">Click me</button>
<input (focus)="consoleLog()" />
<h4>Two way databinding</h4>
<input [(ngModel)]="firstname" />
<div>{{ firstname }}</div>
<button (click)="readFirstName()">Click me</button>

<table class="table">
  <tr>
    <th>userid</th>
    <th>username</th>
    <th>Index</th>
    <th>first</th>
    <th>last</th>
    <th>even</th>
    <th>odd</th>
  </tr>
  <tr
    *ngFor="
      let user of users;
      index as i;
      first as f;
      last as l;
      even as e;
      odd as o
    "
  >
    <td>{{ user.userid }}</td>
    <td>{{ user.username }}</td>
    <td>{{ i }}</td>
    <td>{{ f }}</td>
    <td>{{ l }}</td>
    <td>{{ e }}</td>
    <td>{{ o }}</td>
  </tr>
</table>-->
<div>{{ user.DOB | date:'MMMM dd yyyy' | uppercase }}</div>
<div>{{user | json}}</div>
<div>{{user.salary | currency:'INR':'INR':'3.0-1'}}</div>

<ul>
  <li *ngFor="let user of users1">
    <div [innerHTML]="user.city | highlight:user.cityCode"></div>
  </li>
</ul>

<div [innerHTML]="user1.city | highlight:user1.city"></div>
<router-outlet></router-outlet>
